<div>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valore Stringa</th>
        <th>Voce</th>
        <th>Data Creazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.nome }}</td>
        <td>{{ account.valoreString }}</td>
        <td>{{ account.voce }}</td>
        <td>{{ account.dataCreazione }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="aggiungiModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiungi un Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #accountForm="ngForm">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" [(ngModel)]="accounts.nome" name="nome">
          </div>
          <div class="mb-3">
            <label for="valoreString" class="form-label">Valore Stringa</label>
            <input type="text" class="form-control" id="valoreString" [(ngModel)]="accounts.valoreString" name="valoreString">
          </div>
          <div class="mb-3">
            <label for="voce" class="form-label">Voce</label>
            <input type="text" class="form-control" id="voce" [(ngModel)]="accounts.voce" name="voce">
          </div>
          <div class="mb-3">
            <label for="dataCreazione" class="form-label">Data Creazione</label>
            <input type="text" class="form-control" id="dataCreazione" [(ngModel)]="accounts.dataCreazione" name="dataCreazione">
          </div>
          <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
      </div>
    </div>
  </div>
</div>




