<!-- <div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <input type="text" formControlName="nome" placeholder="Nome" class="form-control" />
      <input type="text" formControlName="dataCreazione" placeholder="Data Creazione" class="form-control" />
      <input type="text" formControlName="valoreString" placeholder="Valore" class="form-control" />
      <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Cerca</button>
    </form>



    <ng-container *ngFor="let account of filteredAccounts">
    <div *ngFor="let singleAccount of account" >
      <p>{{ singleAccount.nome }} - {{ singleAccount.dataCreazione }} - {{ singleAccount.valoreString }}</p>
    </div>
    </ng-container>



    <ng-template #noResults>
      <p>Nessun risultato trovato.</p>
    </ng-template>

  </div>
</div>
 -->
